FORMAT: 1A
HOST: https://api.previo.cz/app

# API - Housekeeping app API

## Allowed HTTPs requests:
- `GET` - Get a resource or list of resources
- `POST` - To create resource
- `PUT` - Update resource
- `DELETE` - To delete resource

## Common status codes:
- `200` - success
- `204` - success on DELETE (no content)
- `400` – something's wrong with request (check error message and display to user)
- `401` - missing or invalid authentication
- `5XX` – there's something wrong with server.

## Errors

Every response could return an error. When this happens status code is `4XX` or `5XX` and response body contains JSON formatted response like this:

```
{
    error: Failed to get data (string,required)
}
```

##Headers
```
X-Previo-Language-ID: {lanId} (In which language the application is running)
X-Previo-App-ID: 2
X-Previo-Hotel-ID: {hotId}
```

## User info [/user]

### Get user info [GET /user{?versionCode}{?os}]

+ Parameters
    + versionCode: 1111 (number, required) - Version code of application build
    + os: android (string, required) - Type of operating system (ios, android)

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)
    + Attributes (UserInfo)


## Premises [/premise]

### Get premises list [GET /premise]
- Return all assigned premises for user, it user has no premises assigned it will return all premises at hotel with obtId = 1 (room).

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)
    + Attributes (array[Premise])
    
### Get premise [GET /premise{?objId}]

`In development` 

+ Parameters
    + objId: 2342 (number, required) - The unique identifier of the premise

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)
    + Attributes (Premise)

### Set premise clean status [PUT /premise/status{?objId}{?ocsId}]

`In development`

+ Parameters
    + objId: 2342 (number, required) - The unique identifier of the premise
    + ocsId: 1 (number, required) - The unique identifier of status for premise (1 - untidy, 2 - tidy, 3 - inspection)
    
+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690

+ Response 200 (application/json)
    + Attributes (Premise)

## Fault list for premise [/premise/fault]

### Get fault list [GET /premise/fault{?objId}]
- Return fault order by created, but resolved defects only with the old resolved two days.

+ Parameters
    + objId: 654567 (number,required) - The unique identifier for premise

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)
    + Attributes (array[Fault])

### Add new fault [POST /fault{?objId}]

`In development`

+ Parameters
    + objId: 654567 (number,required) - The unique identifier for premise

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690

    + Attributes (Fault)
    
+ Response 200 (application/json)
    + Attributes (Fault)

### Set premise fault status [PUT /fault/status{?fauId}{?fasId}]

+ Parameters
    + fauId: 23412 (number, required) - The unique identifier of fault
    + fasId: 1 (number, required) - Fault status (1-fixed, 2-not fixed, 3-beeing repaired)

+ Response 200 (application/json)

### Delete fault [DELETE /fault{?fauId}]

+ Parameters
    + fauId: 654567 (number,required) - The unique identifier for fault

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)

## List of hotels [/hotel]

### Get hotel list [GET /hotel]

`In development`

+ Request (application/json)
    + Headers
    
            X-Previo-Language-ID: 1
            X-Previo-App-ID: 2
            X-Previo-Hotel-ID: 14690
    
+ Response 200 (application/json)
    + Attributes (array[Hotel])

## System [/system]

### Code books [GET /system/codeBook]

`In development`
            
+ Response 200 (application/json)
    + Attributes (CodeBook)


## Data Structure

## UserInfo
+ name: Kubínos (string, required) - Username login of user
+ lanId: 1 (number, required) - The unique identifier for language, which user has set in Previo
+ paysApp: true (boolean, required) - If hotel pay for Housekeeping module - DEPRECATED
+ versionSupported: true (boolean, required) - Is application version supported
+ newerVersion: true (boolean, required) - Is newer aplication version
+ permission (Permission, required) - Listed permissions for users

## Permission 
+ modules (ModulePermission, required) - Permission to view the module
+ privileges (Privileges, required) - Permission for each operations

## ModulePermission
+ paysApp: true (boolean, required) - Is user pay for aplication
+ cleaning: true (boolean, required) - Permission for view into cleaning module
+ faults: true (boolean, required) - Permission for view into fault module
+ minibar: true (boolean, required) - Permission for view into minibar module
+ lossesAndFinds: true (boolean, required) - Permission for view into lost and find module

## Privileges
+ services (ServicePermission, required) - Perrmission in service module

## ServicePermission
+ faultsAdd: true (boolean, required) - Permission for adding new fault
+ faultsEdit: true (boolean, required) - Permission for edit fault
+ faultsRemove: true (boolean, required) - Permission for remove fault
+ roomCleanlinessEdit: true (boolean, required) - Permission for change room state (untidy, tidy, inspection)

## Premise
+ objId: 2342 (number, required) - The unique identifier of the premise
+ name: Deluxe 101 (string, required) - Name of the premise
+ isOnGoing: true (boolean, required) - There is a reservation overlapping whole day
+ isCheckOut: true (boolean, required) - There is a reservation ending today and guests allready checked out
+ isCheckIn: false (boolean, required) - There is a reservation starting today and guests allready checked in
+ checkOut: `2017-01-01T00:00:00` (string, optional) - Date of todays check-out (ISO 8601)
+ checkIn: `2017-01-01T00:00:00` (string, optional) - Date of todays check-in (ISO 8601)
+ ocsId: 1 (number, required) - The unique identifier for premise state (1 - untidy, 2 - tidy, 3 - inspection) 
+ numOfFaults: 2 (number, required) - Returns count of fault on premise at state not fixed and beeing repaired
+ guestName: Inženýrka Tejfarová (string, optional) - If there is ongoing reservation, guestName will be the first guest of this reservation with name, otherwise this will be name of guest of the first reservation in the future
+ guestCount: 4 (number, optional) - Number of guests (If there is ongoing reservation, this will be guest cout of this reservation, otherwise this will be guest count of the first reservation in the future) 
+ note: Vyzdobit pokoj růžemi (string, optional) - Reservation note

##Fault
+ fauId: 23412 (number, optional) - The unique identifier of fault
+ fatId: 1 (number, required) - Type od fault (1 - shower, 2 - TV, 3 - door lock, 4 - heating, 5 - light, 6 - other)
+ fasId: 1 (number, required) - Fault status (1-fixed, 2-not fixed, 3-beeing repaired)
+ description: Nejde zapnout televize, zase hosti ukradli baterie... (string, optional) - Description of fault
+ photo: data:image/gif;base64,R0lGODlhPQBEAP... (string, optional) - POST - Photo decoded in base64, GET - url https://....
+ created: `2017-01-01T00:00:00Z` (string, optional) - Date of created fault (ISO 8601)

## Hotel 
+ hotId: 2342 (number, required) - The unique identifier of the hotel
+ name: Kubínos (string, required) - Name of the hotel

## CodeBook
+ premisesStates (array[PremisesState])

##PremisesState
+ ocsId: 1 (number, required) - The unique identifier for premise state
+ name: untidy (string, required) - Name of premises state